* {
    box-sizing: border-box;
    margin: 0;
}

body
{
    /* background: radial-gradient(circle, rgba(180, 136, 58, 1) 0%, rgba(253, 85, 29, 1) 50%, rgba(119, 252, 69, 1) 150%); */
    background-color: rgb(139, 127, 113);
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}

#container
{

margin-left: auto;
margin-right: auto;


}

#logo
{
color: rgb(245, 221, 221); 
margin-top: 20px;
text-align: center;


}

.bigTitle
{
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 8px;
   
   
}

#navbar
{
background-color: rgb(156, 157, 179);

 color: whitesmoke;
 margin-top: 20px;
 /* border-radius: 20px; */
 padding: 10px;
 font-size: 26px;
 height: 30px;
 text-align: center;
 justify-content: center;
letter-spacing: 20px;

 


 
}

#topbar
{
background-color: rgb(149, 150, 179);
color: white;
padding:10px;
margin-top: 20px;
margin-bottom: 25px;
/* height: 192px; */


}

#topbarL
{
    float: left;
    /* width: 178px; */
    text-align: center;
    border-right: 2px dotted #cccccc;
    
    
}

#topbarR
{
float: left;
/* width: 740px; */
padding: 10px;
text-align: justify;
font-size: 19px;

}

#sidebar
{
float: left;
/* width: 148px; */
min-height: 620px;
padding: 10px;
background-color: rgb(149, 150, 179);
text-align:center ;

color: whitesmoke;

}

#content
{
float: left;
padding: 40px;
/* width: 752px; */
background-color: #8b8181;
min-height: 560px;
text-align: center;
color: whitesmoke;

}

#footer
{
clear: both;
color: rgb(19, 17, 17);
text-align: center;
padding: 20px;
font-size: 14px;

}

.option
{
    float: left;
    min-width: 50px;
    height: 35px;
    padding: 2px;
    border-right: 2px dotted #444444;
    opacity: 0.8;
    text-align: center;
}

.option:hover{
background-color: #062ba3;
cursor: pointer;
border-radius: 10px;

}

.optionL
{
  /* height: 25px; */
  padding: 15px;
  border-bottom: 2px solid #444444;  
}

.optionL:hover
{
background-color: #062ba3;
    cursor: pointer;
    border-radius: 20px;
}

.dottedline
{
    height: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #444444;
}

.bigW
{
    font-size: 30px;
}

